/* Shortcode Tester */

$io-area-margin: 2%;

div#sct_ix-popup_margin {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100000;
    border: 2px solid black;
    border-radius: 7px;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    display: none;
}

div.sct_ix-popup {
    position: fixed;
    left: 3%;
    top: 5%;
    z-index: 100001;
    border: 2px solid black;
    border-radius: 7px;
    background-color: white;
    width: 94%;
    height: 90%;
    overflow: auto;
    display: none;

    div, h3, button, textarea {
        box-sizing: border-box;
    }

    div.sct_ix-heading {
        height: 10%;
        margin: 0;
        h3 {
            padding: 5px 20px;
            margin: 0;
            float: left;
        }
        button#button-mf2tk-shortcode-tester-close {
            float: right;
            margin: 6px 6px 0 0;
        }
    }

    div.sct_ix-instructions {
        clear: both;
        height: 10%;
        margin: 0;
    }

    div.sct_ix-button_bar {
        height: 10%;
        margin: 0;
        button.mf2tk-shortcode-tester-button {
            width: 15em;
            border: 2px solid black;
            border-radius: 7px;
            margin: 5px 5px 15px 0;
        }
    }

    div.sct_ix-shortcode_tester_input_output {
        height: 70%;
        margin: 0;
        div.sct_ix-shortcode_tester_half {
            width: 50%;
            height: 96%;
            padding: 0;
            margin: 0;
            float: left;
            div.sct_ix-shortcode_tester_area {
                width: 100% - 3 * $io_area_margin;
                height: 100%;
                padding: 0;
                margin: 0;
                border: 2px solid black;
                &#mf2tk-shortcode-tester-area-source {
                    margin-left: 2 * $io_area_margin;
                    margin-right: $io_area_margin;
                }
                &#mf2tk-shortcode-tester-area-result {
                    margin-left: $io_area_margin;
                    margin-right: 2 * $io_area_margin;
                }
                h3 {
                    height: 10%;
                    padding: 0 30px;
                    margin: 0;
                }
                textarea {
                  display: block;
                  width: 100%;
                  height: 90%;
                  padding: 10px;
                  margin: 0 auto 0 auto;
                  font-family: monospace;
                }
            }
        }
    }
}